<div class="cotainer vh-100 overflow-auto, overflow-x: auto;" style="background-image: url('/assets/img/trabajo.jpg'); background-size: cover">
    <div class="row bg m-0" style="min-height: 93%">
        <div class=" col d-flex justify-content-center align-items-center p-5">
            <div class="card text-white " style="border-radius: 1rem; background-color: rgba(15, 15, 15, 0.623);">
                <div class="card-body p-5 text-center">
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Por favor introduce tu ID!</p>
                    <div class="mb-1 mt-4 pb-1 ">
                        <div class="form-outline form-white mb-4 ">
                            <input type="text" id="personaId" class="form-control form-control-lg" [(ngModel)]="id" />
                            <label class="form-label pt-3" for="personaId ">ID</label>
                        </div>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="getLogin()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-auto">
        <div class="col d-flex justify-content-sm-start justify-content-center">
            <app-footer></app-footer>
        </div>
    </div>
</div>