<div class="row m-auto">
    <div class="col d-flex justify-content-sm-start justify-content-center mx-3">
        <div class="navbar">
            <div class="container p-2 bg-light border" style="border-radius: 1rem;">
                <footer class="container p-0">
                    <span class="p-1">
						<a class="navbar-brand text-dark p-0 mr-1 fs-6" href="https://github.com/Git-Javi/laburapi">
						<img src="assets/img/gitLogo.png" alt="logo" width="30" height="30" class="me-2">Proyecto Laburapi</a>
					</span>
                </footer>
            </div>
        </div>
    </div>
</div>